
body {
      margin: 20px;
}

header{
      background-color:#5b7989;
      color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
}

header h1{
      text-shadow: 2px 0px #02010a;
}
footer {
	padding-top: 10px;
	text-align: center;
      background-color: #C6d5c5;
}
nav{
      margin-top: -40px;
      text-align: right;
      margin-right: 80px;
}

nav a{
      text-decoration: none;
}


.contenedor {
      display: flex;
      flex-direction: row;
}

#contenido {
      display: flex;
      flex-direction: column;
}

#imagen-central {
      background-color: #82c3a6;
      padding: 50px;
}

#imagen-central .contenedor  img {
      width: 100%;
      height: 400px;
}

#imagenes-DerIzq {
      background-color: #d5c75f;
      border: 1px;
      padding: 50px;
}

#imagenes-DerIzq .contenedor img {
      padding: 10px;
      margin: 0.5px;
      width: 50%;
}
